{% extends "base.html" %}
{% block title %} All Opportunities {% endblock %}
{% block content %}

<div class="container">
    <h1 class="mb-4">All Opportunities</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Program Name</th>
                <th scope="col">Link</th>
                <th scope="col">Things Needed</th>
                <th scope="col">Deadline</th>
            </tr>
        </thead>
        <tbody>
            {% for opportunity in opportunities %}
                <tr>
                    <td>{{ opportunity.category }}</td>
                    <td>{{ opportunity.program_name }}</td>
                    <td><a href="{{ opportunity.link }}">{{ opportunity.link }}</a></td>
                    <td>{{ opportunity.things_needed }}</td>
                    <td>{{ opportunity.deadline }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No opportunities found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
